{% extends 'base.html' %}

{% block content %}
<h1>News Articles</h1>
{% for article in articles %}
<div class="card mt-3">
    <h5 class="title mt-3">{{ article.title }}</h5>
    <small>Author: {{article.author}} <span> Published on: {{ article.publishedAt }} </span> </small>
    <img src=" {{ article.urlToImage }} " height="400px" alt="image" >
    <p>{{ article.description }}</p>
    <p>{{ article.content}} <span></span>    <a href="{{ article.url }}">Read more</a> </p>
</div>
{% endfor %}
{% endblock %}
